<h1>Edit Person</h1>
First name: {{view Ember.TextField valueBinding="firstName"}} <br/>
Last name: {{view Ember.TextField valueBinding="lastName"}} <br/>
<a href='#' {{action "update"}}>Update</a> - <a href='#' {{action "destroy"}}>Destroy</a>